@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply  h-screen  max-w-screen-xl  m-auto 
}

html {
  @apply bg-gradient-to-tr from-cyan-500 to-indigo-800
}